@model IEnumerable<ViewModels.ProjectDevision.ProjectSectionScheduleViewModel.ListProjectSectionScheduleViewModel>
@{ string tableName = "ProjectSectionSchedule";}

<div class="col-lg-12">
    <input type="hidden" id="sort-@(tableName)" value="ProjectSectionSchedule.Id descending" />

    <!------------- Start Table ----------------------->
    <div class="row">
        <div class="col-lg-12 content-grid">
            <form id="frm-tbl-@(tableName)">
                <table class="tbl-grid" id="tbl-@(tableName)">
                    <thead>
                        <tr>
                            <th style="width:80px;"><a onmousedown="Sort('ProjectSectionSchedule.Id', '@(tableName)')">ردیف <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('Opinion.Title', '@(tableName)')">@Html.DisplayNameFor(model => model.Opinion.Title) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionSchedule.Description', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionSchedule.Description) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th data-th='ویرایش/حذف'>ویرایش/حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th='ردیف'>
                                <input type="text" class="form-control txtbox" name="ProjectSectionSchedule.Id">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.Opinion.Title)">
                                <input type="text" class="form-control txtbox" name="Opinion.Title">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionSchedule.Description)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionSchedule.Description">
                            </td>

                            <td data-th='ویرایش/حذف'></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </form>
        </div>
    </div>
</div>

<!------------- End Table ----------------------->