@model IEnumerable<ViewModels.BaseInformation.AccountTypeViewModel.ListAccountTypeViewModel>
@{ string tableName = "AccountType";}

<div class="col-lg-12">
    <input type="hidden" id="sort-@(tableName)" value="@(tableName).Id descending" />

    <!------------- Start Table ----------------------->
    <div class="row">
        <div class="col-lg-12 content-grid">
            <form id="frm-tbl-@(tableName)">
                <table class="tbl-grid" id="tbl-@(tableName)">
                    <thead>
                        <tr>
                            <th style="width:80px;"><a onmousedown="Sort('AccountType.Id', '@(tableName)')">ردیف <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('AccountType.Title', '@(tableName)')">@Html.DisplayNameFor(model => model.AccountType.Title) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th data-th='ویرایش/حذف'>ویرایش/حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th='ردیف'>
                                <input type="text" class="form-control txtbox" name="AccountType.Id">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.AccountType.Title)">
                                <input type="text" class="form-control txtbox" name="AccountType.Title">
                            </td>

                            <td data-th='ویرایش/حذف'></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="3">
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </form>
        </div>
    </div>
</div>

<!------------- End Table ----------------------->