@model ViewModels.ProjectDevision.ProjectSectionMemberViewModel.CreateProjectSectionMemberViewModel

<form id="frm-ProjectSectionAdvisorMember" class="operationform" method="post">
    @{
        if (ViewBag.error != null)
        {
            <div class="col-lg-12">
                <div id="ErrorAlert" class="alert alert-danger" role="alert">
                    <button type="button" class="close" id="AlertClose"><span aria-hidden="true">&times;</span></button>
                    <span>@ViewBag.error</span>
                </div>
            </div>

            <script>
                $('#ErrorAlert').show().delay(4000).slideUp(300);
            </script>
        }
    }
    @Html.HiddenFor(model => model.ProjectSectionAdvisorMember.Id, new { Value = (@ViewBag.Id != null) ? @ViewBag.Id : Model.ProjectSectionAdvisorMember.Id, @id = "ProjectSectionAdvisorMemberId" })
    
    <div class="form-group col-lg-4 col-md-6">
        <label>انتخاب مشاور</label>
        @*@Html.LabelFor(model => model.ProjectSectionAdvisorMember.MemberId, new { @class = "label-txt" })*@
        @Html.ValidationMessageFor(model => model.ProjectSectionAdvisorMember.MemberId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.ProjectSectionAdvisorMember.MemberId, new SelectList(Model.Members, "Id", "Title"), new { @class = "form-control txtbox", data_val = "true", data_val_required = "الزامی است" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionAdvisorMember.StartDate, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionAdvisorMember.StartDate, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionAdvisorMember.StartDate, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionAdvisorMember.EndDate, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionAdvisorMember.EndDate, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionAdvisorMember.EndDate, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionAdvisorMember.Description, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionAdvisorMember.Description, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionAdvisorMember.Description, new { @class = "form-control txtbox" })
    </div>

    <div class="clear"></div>
    <div class="form-group col-lg-4 col-md-6">
        <button type="submit" id="btnSaveProjectSectionAdvisorMember" class="btn btn-success"><span class="glyphicon glyphicon-ok" style="float:right;"></span>ذخیره</button>
        <button type="button" id="btnNewProjectSectionAdvisorMember" class="btn btn-info btnNew"><span class="glyphicon glyphicon-file" style="float:right;"></span>جدید</button>
    </div>
</form>
