@*@model IEnumerable<ViewModels.ProjectDevision.ProjectSectionDraftViewModel.ListProjectSectionPrintDraftViewModel>
@{ string tableName = "ProjectSectionPrintDraft";}

<div class="col-lg-12">
    <input type="hidden" id="sort-@(tableName)" value="ProjectSectionDraft.Id descending" />

    <!------------- Start Table ----------------------->
    <div class="row">
        <div class="col-lg-12 content-grid">
            <form id="frm-tbl-@(tableName)">
                <table class="tbl-grid" id="tbl-@(tableName)">
                    <thead>
                        <tr>
                            <th style="width:80px;"><a onmousedown="Sort('ProjectSectionDraft.Id', '@(tableName)')">ردیف <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionPrintDraft.DraftNumber', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionDraft.DraftNumber) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionPrintDraft.TempDraftPrice', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionDraft.TempDraftPrice) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionPrintDraft.DraftPrice', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionDraft.DraftPrice) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionPrintDraft.DraftDate_', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionDraft.DraftDate_) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th data-th='عملیات'>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th='ردیف'>
                                <input type="text" class="form-control txtbox" name="ProjectSectionDraft.Id">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionDraft.DraftNumber)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionDraft.DraftNumber">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionDraft.TempDraftPrice)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionDraft.TempDraftPrice">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionDraft)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionDraft.DraftPrice">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionDraft.DraftDate_)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionDraft.DraftDate_">
                            </td>

                            <td data-th='عملیات'></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>

                </table>
            </form>
        </div>
    </div>
</div>

<!------------- End Table ----------------------->*@

@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "Index";
}

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Actions =
    {
        GetReportSnapshot = "GetReportSnapshot",
        ViewerEvent = "ViewerEvent"   
    },
})