@model IEnumerable<ViewModels.ProjectDevision.ProjectSectionOperationViewModel.ListProjectSectionOperationViewModel>
@{ string tableName = "ProjectSectionOperation";}

<div class="col-lg-12">
    <input type="hidden" id="sort-@(tableName)" value="Id descending" />

    <!------------- Start Table ----------------------->
    <div class="row">
        <div class="col-lg-12 content-grid">
            <form id="frm-tbl-@(tableName)" style="overflow:auto;">
                <table class="tbl-grid" id="tbl-@(tableName)" style="min-width: 1700px;">
                    <thead>
                        <tr>
                            <th style="display: none">شناسه</th>
                            <th style="width:80px;"><a onmousedown="Sort('Id', '@(tableName)')">ردیف <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('FileCode', '@(tableName)')">@Html.DisplayNameFor(model => model.FileCode) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('StateTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.StateTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('CityTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.CityTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('AssignmentTypeTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.AssignmentTypeTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ContractNumber', '@(tableName)')">@Html.DisplayNameFor(model => model.ContractNumber) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('CompanyName', '@(tableName)')">@Html.DisplayNameFor(model => model.CompanyName) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('StartDate', '@(tableName)')">@Html.DisplayNameFor(model => model.StartDate) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('EndDate', '@(tableName)')">@Html.DisplayNameFor(model => model.EndDate) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th style="display:none"><a onmousedown="Sort('ProjectSectionOperationStateId', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionOperationStateId) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('ProjectSectionOperationStateTitle', '@(tableName)')">@Html.DisplayNameFor(model => model.ProjectSectionOperationStateTitle) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th style="display:none"><a onmousedown="Sort('Color', '@(tableName)')">@Html.DisplayNameFor(model => model.Color) <span class="sort-arrow arrow-sortable"></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="display:none">
                                <input type="text" class="form-control txtbox" name="Id">
                            </td>

                            <td data-th='ردیف'>
                                <input type="text" class="form-control txtbox" name="Id">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.FileCode)">
                                <input type="text" class="form-control txtbox" name="FileCode">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectTitle)">
                                <input type="text" class="form-control txtbox" name="ProjectTitle">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionTitle)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionTitle">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.StateTitle)">
                                <input type="text" class="form-control txtbox" name="StateTitle">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.CityTitle)">
                                <input type="text" class="form-control txtbox" name="CityTitle">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.AssignmentTypeTitle)">
                                <input type="text" class="form-control txtbox" name="AssignmentTypeTitle">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ContractNumber)">
                                <input type="text" class="form-control txtbox" name="ContractNumber">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.CompanyName)">
                                <input type="text" class="form-control txtbox" name="CompanyName">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.StartDate)">
                                <input type="text" class="form-control txtbox" name="StartDate">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.EndDate)">
                                <input type="text" class="form-control txtbox" name="EndDate">
                            </td>

                            <td style="display:none" data-th="@Html.DisplayNameFor(model => model.ProjectSectionOperationStateId)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionOperationStateId">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.ProjectSectionOperationStateTitle)">
                                <input type="text" class="form-control txtbox" name="ProjectSectionOperationStateTitle">
                            </td>

                            <td style="display:none" data-th="@Html.DisplayNameFor(model => model.Color)">
                                <input type="text" class="form-control txtbox" name="Color">
                            </td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="12"></td>
                        </tr>
                    </tfoot>

                </table>
            </form>
        </div>
    </div>
</div>

<!------------- End Table ----------------------->