@model ViewModels.ProjectDefine.ProjectAgreementViewModel.SearchProjectAgreementViewModel

<form id="frm-ProjectProgramming" class="operationform" method="post">
    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.FileCode, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.FileCode, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.FileCode, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectTitle, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectTitle, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectTitle, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectTypeId, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectTypeId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.ProjectTypeId, new SelectList(Model.ProjectTypes, "Id", "Title"), new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.StateId, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.StateId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.StateId, new SelectList(Model.States, "Id", "Title"), new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.CityId, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.CityId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.CityId, new SelectList(Model.Cities, "Id", "Title"), new { @class = "form-control txtbox" })
    </div>

    @*<div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectStateId, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectStateId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.ProjectStateId, new SelectList(Model.ProjectStates, "Id", "Title"), new { @class = "form-control txtbox" })
    </div>*@

    <div class="clear"></div>
</form>
