@model ViewModels.ProjectDevision.ProjectSectionRecoupmentViewModel.CreateProjectSectionRecoupmentViewModel

<form id="frm-ProjectSectionRecoupment" class="operationform" method="post">
    @{
        if (ViewBag.error != null)
        {
            <div class="col-lg-12">
                <div id="ErrorAlert" class="alert alert-danger" role="alert">
                    <button type="button" class="close" id="AlertClose"><span aria-hidden="true">&times;</span></button>
                    <span>@ViewBag.error</span>
                </div>
            </div>

            <script>
                $('#ErrorAlert').show().delay(4000).slideUp(300);
            </script>
        }
    }
    @Html.HiddenFor(model => model.ProjectSectionRecoupment.Id, new { Value = (@ViewBag.Id != null) ? @ViewBag.Id : Model.ProjectSectionRecoupment.Id, @id = "ProjectSectionRecoupmentId" })
    @Html.HiddenFor(model => model.Files, new { @id = "images-ProjectSectionRecoupment" })

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionRecoupment.RecoupmentTypeId, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionRecoupment.RecoupmentTypeId, String.Empty, new { @class = "label-validation" })
        @Html.DropDownListFor(model => model.ProjectSectionRecoupment.RecoupmentTypeId, new SelectList(Model.RecoupmentTypes, "Id", "Title"), new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionRecoupment.Number, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionRecoupment.Number, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionRecoupment.Number, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionRecoupment.Date_, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionRecoupment.Date_, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionRecoupment.Date_, new { @class = "form-control txtbox", @readonly = "readonly", style = "cursor:pointer;", data_val = "true", data_val_required = "الزامی است" })
    </div>

    <div class="form-group col-lg-4 col-md-6">
        @Html.LabelFor(model => model.ProjectSectionRecoupment.BranchExporter, new { @class = "label-txt" })
        @Html.ValidationMessageFor(model => model.ProjectSectionRecoupment.BranchExporter, String.Empty, new { @class = "label-validation" })
        @Html.TextBoxFor(model => model.ProjectSectionRecoupment.BranchExporter, new { @class = "form-control txtbox" })
    </div>

    <div class="form-group col-lg-4 col-md-6" style="text-align:center">
        <br />
        <button type="button" id="btnShowProjectSectionRecoupmentFiles" class="btn btn-warning btn-uploader"><span class="glyphicon glyphicon-ok" style="float:right;"></span>افزودن فایل های پیوستی پروژه</button>
    </div>


    <div class="clear"></div>
    <div class="form-group col-lg-4 col-md-6">
        <button type="submit" id="btnSaveProjectSectionRecoupment" class="btn btn-success"><span class="glyphicon glyphicon-ok" style="float:right;"></span>ذخیره</button>
        <button type="button" id="btnNewProjectSectionRecoupment" class="btn btn-info btnNew"><span class="glyphicon glyphicon-file" style="float:right;"></span>جدید</button>
    </div>
</form>

<script>    
    $(function () {
        DatePic('#ProjectSectionRecoupment_Date_');
    });
</script>