@model IEnumerable<ViewModels.BaseInformation.InvestmentChapterViewModel.ListInvestmentChapterViewModel>
@{ string tableName = "InvestmentChapter";}

<div class="col-lg-12">
    <input type="hidden" id="sort-@(tableName)" value="@(tableName).Id descending" />

    <!------------- Start Table ----------------------->
    <div class="row">
        <div class="col-lg-12 content-grid">
            <form id="frm-tbl-@(tableName)">
                <table class="tbl-grid" id="tbl-@(tableName)">
                    <thead>
                        <tr>
                            <th style="width:80px;"><a onmousedown="Sort('InvestmentChapter.Id', '@(tableName)')">ردیف <span class="sort-arrow arrow-sortable"></span></a></th>
                            <th><a onmousedown="Sort('InvestmentChapter.Title', '@(tableName)')">@Html.DisplayNameFor(model => model.InvestmentChapter.Title) <span class="sort-arrow arrow-sortable"></span></a></th>
                            <td data-th='انتخاب'> افزودن نوع فصل سرمایه گذاری</td>
                            <td data-th='ویرایش/حذف'>ویرایش/حذف</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th='ردیف'>
                                <input type="text" class="form-control txtbox" name="InvestmentChapter.Id">
                            </td>

                            <td data-th="@Html.DisplayNameFor(model => model.InvestmentChapter.Title)">
                                <input type="text" class="form-control txtbox" name="InvestmentChapter.Title">
                            </td>

                            <td data-th='انتخاب'></td>

                            <td data-th='ویرایش/حذف'></td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4">
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </form>
        </div>
    </div>
</div>

<!------------- End Table ----------------------->